{% extends 'child.html' %}


{% block head %}
<title>data visualisation - wherebnb.</title>
{% endblock %}


{% block type %}
<h5><strong>tableau</strong></h5>
{% endblock %}


{% block main %}
<section class="section bg-primary pt-0 section-lg">
    <div class="container">
        <div class="row justify-content-center">
            <div id="Carousel1" class="carousel slide shadow-soft border border-light p-4 rounded" data-ride="carousel">
                <div class="carousel-inner rounded">
                    <div class="carousel-item active">
                        <div class='tableauPlaceholder' id='viz1603399693374' style='position: relative'>
                            <noscript>
                                <a href='#'>
                                    <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wh&#47;wherebnb&#47;Story1&#47;1_rss.png' style='border: none' />
                                </a>
                            </noscript>
                            <object class='tableauViz'  style='display:none;'>
                                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                                <param name='embed_code_version' value='3' />
                                <param name='site_root' value='' />
                                <param name='name' value='wherebnb&#47;Story1' />
                                <param name='tabs' value='no' />
                                <param name='toolbar' value='yes' />
                                <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wh&#47;wherebnb&#47;Story1&#47;1.png' />
                                <param name='animate_transition' value='yes' />
                                <param name='display_static_image' value='yes' />
                                <param name='display_spinner' value='yes' />
                                <param name='display_overlay' value='yes' />
                                <param name='display_count' value='yes' />
                                <param name='language' value='en' />
                                <param name='filter' value='publish=yes' />
                            </object>
                        </div>
                        <script type='text/javascript'>
                            var divElement = document.getElementById('viz1603399693374');
                            var vizElement = divElement.getElementsByTagName('object')[0];
                            vizElement.style.width='1016px';vizElement.style.height='991px';
                            var scriptElement = document.createElement('script');
                            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                            vizElement.parentNode.insertBefore(scriptElement, vizElement);
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br><br>
{% endblock %}