{% extends 'child.html' %}


{% block head %}
<title>host - wherebnb.</title>
{% endblock %}


{% block type %}
<h5><strong>host</strong></h5>
{% endblock %}


{% block main %}

<div class="section section-lg pt-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card bg-primary shadow-soft border-light px-4 py-5 text-center mb-5">
                    <div class="card-body pt-2 px-0 px-lg-7">
                        <p class="mb-5 lead">
                            Select one of the following:
                        </p>
                        <a class="btn btn-lg btn-primary mr-md-3 mb-3 mb-sm-0" href="/host/price">
                            <div class="d-flex align-items-center">
                                <span class="icon icon-lg mr-3"><span class="fas fa-rupee-sign"></span></span>
                                <div class="d-block text-left">
                                    <small class="font-small"><strong>Smart Price</strong></small>
                                    <div class="h5 mb-0">Estimation</div>
                                </div>
                            </div>
                        </a>
                        <a class="btn btn-lg btn-primary mr-md-3 mb-3 mb-sm-0" href="#">
                            <div class="d-flex align-items-center">
                                <span class="icon icon-lg mr-3"><span class="fas fa-spell-check"></span></span>
                                <div class="d-block text-left">
                                    <small class="font-small"><strong>Title</strong></small>
                                    <div class="h5 mb-0">Recommendation</div>
                                </div>
                            </div>
                        </a>
                        <a class="btn btn-lg btn-primary mr-md-3 mb-3 mb-sm-0" href="/host/popularity">
                            <div class="d-flex align-items-center">
                                <span class="icon icon-lg mr-3"><span class="fas fa-chart-line"></span></span>
                                <div class="d-block text-left">
                                    <small class="font-small"><strong>Popularity</strong></small>
                                    <div class="h5 mb-0">Prediction</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div> 
    </div> 
</div>

{% endblock %}