{% extends 'base.html' %}


{% block body %}
<main>
    <section class="section section bg-soft pb-5 overflow-hidden z-2">
        <div class="container z-2">
            <div class="row justify-content-center text-center pt-6">
                <div class="col-lg-8 col-xl-8">
                    <h1 class="display-2 mb-3" style="color:#0056B3">wherebnb.</h1>
                    <h5>made by- <a href="/about">Kritik Seth</a></h5>
                </div>
            </div>
        </div>
    </section>
    <br><br>
    <div class="section section-lg pt-0">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 col-lg-6 mb-5 mb-lg-0">
                    <div class="card bg-primary shadow-soft border-light">
                        <div class="row no-gutters align-items-center">
                            <div class="col-sm-5">
                                <div class="card-header text-center pb-0">
                                    <h3 class="mb-0">Tourist</h3>
                                    <span class="d-block my-3">
                                        <span class="icon icon-sm icon-secondary"><span class="fas fa-plane-departure"></span></span>
                                    </span>
                                    </span>
                                    <form action="/tourist">
                                        <button type="submit" class="btn btn-sm btn-primary btn-block">View as Tourist</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="card-body pb-0">
                                    <ul class="list-group list-group-flush price-list mb-4">
                                        <li class="list-group-item border-0"></li>
                                        <li class="list-group-item border-primary pb-1"><span class="fas fa-rupee-sign"></span><strong>Price Prediction</strong></li>
                                        <li class="list-group-item border-primary pb-1"><span class="fa fa-map"></span>City Map</li>
                                        <li class="list-group-item border-primary pb-1"><span class="fa fa-map-marker"></span>Places for rent</li>
                                        <li class="list-group-item border-primary pb-1"><span class="fa fa-map-pin"></span>Nearby Experiences</li>
                                        <li class="list-group-item border-0"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-5 mb-lg-0">
                    <div class="card bg-primary shadow-soft border-light">
                        <div class="row no-gutters align-items-center">
                            <div class="col-sm-5">
                                <div class="card-header text-center pb-0">
                                    <h3 class="mb-0">Host</h3>
                                    <span class="d-block my-3">
                                        <span class="icon icon-sm icon-secondary"><span class="fa fa-bed"></span></span>
                                    </span>
                                    </span>
                                    <form action="/host">
                                        <button type="submit" class="btn btn-sm btn-primary btn-block">View as Host</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="card-body pb-0">
                                    <ul class="list-group list-group-flush price-list mb-4">
                                        <li class="list-group-item border-0"></li>
                                        <li class="list-group-item border-primary pb-1"><span class="fas fa-rupee-sign"></span><strong>Smart Pricing</strong></li>
                                        <li class="list-group-item border-primary pb-1"><span class="fas fa-chart-line"></span><strong>Popularity Prediction</strong></li>
                                        <li class="list-group-item border-primary pb-1"><span class="fa fa-map"></span>Map & Places for rent</li>
                                        <li class="list-group-item border-primary pb-1"><span class="fas fa-spell-check"></span>Title Recommendation</li>
                                        <li class="list-group-item border-0"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section  bg-primary pt-0 section-lg">
        <div class="section section-lg pt-0">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="card bg-primary shadow-soft border-light px-4 py-5 text-center mb-5">
                            <div class="card-body pt-2 px-0 px-lg-7">
                                <p class="mb-5 lead">
                                    Get Insights from data, using Tableau
                                </p>
                                <a class="btn btn-lg btn-primary mr-md-3 mb-3 mb-sm-0" href="/data">
                                    <div class="d-flex align-items-center">
                                        <span class="icon icon-lg mr-3"><span class="fas fa-chart-bar" aria-hidden="true"></span></span>
                                        <div class="d-block text-left">
                                            <small class="font-small"><strong>Data</strong></small>
                                            <div class="h5 mb-0">Visualisations</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> 
            </div> 
        </div>
    </div>
    <div class="section  bg-primary pt-0 section-lg">
        <div class="section section-lg pt-0">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="card bg-primary shadow-soft border-light px-4 py-5 text-center mb-5">
                            <div class="card-body pt-2 px-0 px-lg-7">
                                <p class="mb-5 lead">
                                    Find this project on GitHub here!
                                </p>
                                <a class="btn btn-lg btn-primary mr-md-3 mb-3 mb-sm-0" href="https://github.com/kritikseth/wherebnb" target="_blank">
                                    <div class="d-flex align-items-center">
                                        <span class="icon icon-lg mr-3"><span class="fab fa-github" aria-hidden="true"></span></span>
                                        <div class="d-block text-left">
                                            <div class="h5 mb-0">GitHub</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> 
            </div> 
        </div>
    </div>
</main>
{% endblock %}

           