{% extends 'child.html' %}


{% block type %}
<h5><strong>{{customer}}</strong></h5>
{% endblock %}


{% block action %}
<h5>Map</h5>
{% endblock %}


{% block main %}
<div class="section section-lg pt-0">
    <form action="/host/map/view" method="POST" class="map_form" id="input_val">
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="form-group">
                        <label class="h6 font-weight-light text-gray" for="subscribeInputEmail">Select a city</label>
                        <div class="d-flex flex-row justify-content-center">
                            <select name="city" class="custom-select my-1 mr-sm-2" required>
                                <option value="">Select</option>
                                {% for key, value in city_dict.items() %}
                                    <option value="{{key}}">
                                    {{value}}
                                    </option>
                                {% endfor %}
                            </select>
                            <div class="input-group-prepend">
                                <button type="submit" class="btn btn-primary rounded-right" id="myButton1">Submit</button>
                                <div class="loadshow"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<br>
<div class="section bg-primary pt-0 section-lg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="alert alert-secondary alert-dismissible shadow-soft fade show" role="alert">
                    <span class="alert-inner--icon"><span class="fas fa-exclamation-circle"></span></span>
                    <span class="alert-inner--text"><strong>Warning!</strong> If the map is not loading, refresh the page and try again or try in a different browser.</span>
                    <button type="button" class="close text-dark" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<section class="section bg-primary pt-0 section-lg">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h5>{{city_name}}</h5>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div id="Carousel1" class="carousel slide shadow-soft border border-light p-4 rounded" data-ride="carousel">
                    <div class="carousel-inner rounded">
                        <div class="carousel-item active">
                            <iframe class="map", src="{{ url_for('static', filename='maps/map.html', _=current_time) }}" width="600" height="600"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>
<br><br>
<section class="section bg-primary pt-0 section-lg">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h5>Nearby Experiences</h5>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div id="Carousel4" class="carousel slide shadow-soft border border-light p-4 rounded" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#Carousel4" data-slide-to="0" class="active"></li>
                        <li data-target="#Carousel4" data-slide-to="1"></li>
                        <li data-target="#Carousel4" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner rounded">
                        <div class="carousel-item overlay-primary active">
                            <img class="d-block w-100" src="{{link[0]}}" alt="First slide">
                            <div class="carousel-caption d-none d-md-block text-dark">
                                <h3 class="h5">{{label[0]}}</h3>
                            </div>
                        </div>
                        <div class="carousel-item overlay-primary">
                            <img class="d-block w-100" src="{{link[1]}}" alt="Second slide">
                            <div class="carousel-caption d-none d-md-block text-dark">
                                <h3 class="h5">{{label[1]}}</h3>
                            </div>
                        </div>
                        <div class="carousel-item overlay-primary">
                            <img class="d-block w-100" src="{{link[2]}}" alt="Third slide">
                            <div class="carousel-caption d-none d-md-block text-dark">
                                <h3 class="h5">{{label[2]}}</h3>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#Carousel4" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#Carousel4" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div> 
</section>
<br><br>
{% endblock %}