{% extends 'child.html' %}


{% block type %}
<h5><strong>{{customer}}</strong></h5>
{% endblock %}


{% block action %}
    {% if customer=='tourist' %}
    <h5>Price Prediction</h5>
    {% endif %}
    {% if customer=='host' %}
    <h5>Smart Price Estimation</h5>
    {% endif %}
{% endblock %}


{% block main %}
{% block price%}{% endblock %}
<div class="section section-lg pt-4">
    <div class="container">
        <form action="/{{customer}}/price/result" method="POST" class="clean_form" id="input_val">
            <div class="row mb-4 mb-lg-5">
                <div class="col-lg-4 col-sm-6">
                    <div class="form-group">
                        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">City</label>
                        <select name="city" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" required>
                            <option value="">Select</option>
                            {% for key, value in city_dict.items() %}
                                <option value="{{key}}">
                                {{value}}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="form-group">
                        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Popularity</label>
                        <select name="popularity" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" required>
                            <option value="">Select</option>
                            {% for key, value in popularity_dict.items() %}
                                <option value="{{key}}">
                                {{value}}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Room Type</label>
                        <select name="room_type" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" required>
                            <option value="">Select</option>
                            {% for key, value in room_type_dict.items() %}
                                <option value="{{key}}">
                                {{value}}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mb-4 mb-lg-5">
                <div class="col-lg-4 col-sm-6">                    
                    <div class="form-group">
                        <label for="exampleInputIcon2">Number of Nights</label>
                        <div class="input-group mb-4">
                            <input name="minimum_nights" class="form-control" id="exampleInputIcon2" placeholder="Between 0 and 100" aria-label="Input group" type="number" min="0" max="100" step="1" oninput="validity.valid||(value='');" required>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">                    
                    <div class="form-group">
                        <label for="exampleInputIcon2">Number of reviews</label>
                        <div class="input-group mb-4">
                            <input name="number_of_reviews" class="form-control" id="exampleInputIcon2" placeholder="Between 0 and 800" aria-label="Input group" type="number" min="0" max="800" step="1" oninput="validity.valid||(value='');" required>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">                    
                    <div class="form-group">
                        <label for="exampleInputIcon2">Availability</label>
                        <div class="input-group mb-4">
                            <input name="availability_365" class="form-control" id="exampleInputIcon2" placeholder="Out of 365 days" aria-label="Input group" type="number" min="0" max="365" step="1" oninput="validity.valid||(value='');" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4 mb-lg-5">
                <div class="col-lg-4 col-sm-6">                    
                    <div class="form-group">
                        <label for="exampleInputIcon2">Number of Host Listings</label>
                        <div class="input-group mb-4">
                            <input name="calculated_host_listings_count" class="form-control" id="exampleInputIcon2" placeholder="Between 0 and 200" aria-label="Input group" type="number" min="0" max="200" step="1" oninput="validity.valid||(value='');" required>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">                    
                    <div class="form-group">
                        <label for="exampleInputIcon2">Reviews per month</label>
                        <div class="input-group mb-4">
                            <input name="reviews_per_month" class="form-control" id="exampleInputIcon2" placeholder="Between 0.0 and 40.0" aria-label="Input group" type="number" min="0" max="40" step="0.1" oninput="validity.valid||(value='');" required>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <label for="exampleInputIcon2">.</label> 
                    <button type="submit" class="btn btn-block btn-primary mb-4" id="submit-btn">
                        <span class="btn-txt" style="color:#0056B3">Submit</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}